.App {
  text-align: center;
}

.Lane-name {
  height:50px;
  line-height: 50px;
  color: blue;
  /*position: absolute;*/
  text-align: left;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  transition: "left 0.2s ease-in-out 0, top 0.2s ease-in-out 0";
}
.Transition {
  ransition: "y 1.2s ease-in-out";
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hover-border-visible:not(:hover) {
  box-shadow: none;
  background: transparent;
  border-color: transparent;
}